<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goclub.run</title>
  </head>
  <body>
  <div id="app">
    <h1>
        <el-link style="font-size:1em;"  target="_blank" type="primary" href="https://github.com/goclub">goclub.run</el-link>
    </h1>
    <p>
      GO语言工具库/编程实践/教学项目/实战项目
    </p>
    <el-tabs v-model="activeTool"  @tab-click="changeTag" >
        <el-tab-pane label="开源项目" name="repo"  >
            <el-collapse accordion  @change="handleChangeCollapse" >
            <el-collapse-item v-for="item in repos" >
              <template slot="title" :name="item[0]" >
                <span class="import-name">{{item[0]}}</span>{{item[1]}}
              </template>
              <template v-if="item[2]">
                <template v-if="item[3]">
                  <a target="_blank" style="color:#409EFF;text-decoration:underline;font-size:2em;" :href="item[3]">{{item[3]}}</a>
                  <iframe class="repo-iframe" style="border:none;width:100%;height:100vh;" :src="item[3]"></iframe>
                </template>
                <template v-else>
                  <a target="_blank" style="color:#409EFF;text-decoration:underline;font-size:2em;" :href="'https://goclub.run/' + item[0] + '/'">https://goclub.run/{{item[0]}}/</a>
                  <iframe class="repo-iframe" style="border:none;width:100%;height:100vh;" :src="'https://goclub.run/' + item[0] + '/'"></iframe>
                </template>
              </template>
              <template v-else>
                访问: <a target="_blank" style="color:#409EFF;text-decoration:underline;font-size:2em;" :href="'https://github.com/goclub/' + item[0] + '/'">https://github.com/goclub/{{item[0]}}</a>
              </template>
            </el-collapse-item>
          </el-collapse>
        </el-tab-pane>
        <el-tab-pane label="二维码" name="qrcode">
          <gen-qrcode></gen-qrcode>
        </el-tab-pane>
      <el-tab-pane label="SQL模型" name="model">
        <spec-model></spec-model>
      </el-tab-pane>
      <el-tab-pane label="GO枚举" name="enum">
        <spec-enum></spec-enum>
      </el-tab-pane>
      <el-tab-pane label="UUID" name="uuid">
        <gen-uuid></gen-uuid>
      </el-tab-pane>
    </el-tabs>
    <a class="icp-link" href="https://beian.miit.gov.cn/">沪ICP备2021012662号-4</a>
  </div>
  <script src="./resource/prism.js"></script>
  <link rel="stylesheet" href="./resource/prism.css">
  <script type="module" src="/main.js"></script>

  </body>
</html>
